body{
   margin: 0;
   font-family: 'Heebo', sans-serif;
  
}


header{
    background-color: #202a2c;
    color: white;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 30px;
    letter-spacing: 0.6px;
    line-height: 30px;
    }
h1{
        
        padding: 50px, 50px;
        max-width: 100%;
        font-size: 40px;
        text-align: center;
        color: white;
       
        text-shadow: 3px 1px black;
        
    }
    h2{
        
        padding: 50px, 50px;
        max-width: 100%;
        text-shadow: 3px 1px black;
        font-size: 40px;
        text-align: center;
        color: white;
        
        
      
    }
 




 

#addbutton:hover{
    background-color: rgb(207, 142, 188);
}

#group{
    text-align: center;
}


#emailid{
    text-align: center;
}
section.email form input{
    height: 50px;
    width: 326px; 
    border-radius: 60px 60px 60px 60px; 
    color: #0e0d0d;
    font-family: Heboo;
    font-size: 20px;
    letter-spacing: 0.35px;
    line-height: 40px;
    padding-left: 22px;

}
section.email form button{
    height: 50px;
    width: 150px;
    border-radius: 30px 30px 30px 30px;
    background-color: white;
    color: rgb(15, 15, 15);
    font-size: 20px;
    font-family: Heboo;
    letter-spacing: 0.35px;
    line-height: 40px;
    text-align: center;
    
 }




 /*section.email form button{
    
    padding: 30px 30px;
    color: rgb(15, 15, 15); 
    text-align: center; 
    border: none;
    font-size: 30px;
    display: inline-block;
   
    cursor: pointer;
    border-radius: 60px 60px 60px 60px;
    opacity: 0.9;
     
}*/

P{
    margin-left: 49%;
    margin-right: 49%;
    color:black;
    background-color:  white ;
    text-align: center;
    border-radius: 60px 60px 60px 60px; 
}



#codeid{
    font-size:30px;
    text-shadow: 3px 1px #ffffff;
    }
 

#btn{
     padding: 15px 25px ;
     color: white;
     background-color: rgb(70, 64, 64);
     margin-left: 35%;
     border-radius: 60px 60px 60px 60px;
     font-size: 30px;
    }
#valueid{
     background-color: white;
     height: 50px;
    width: 150px;
    border-radius: 30px 30px 30px 30px;
    color: rgb(15, 15, 15);
    font-size: 20px;
    font-family: Heboo;
    letter-spacing: 0.35px;
    line-height: 40px;
    text-align: center;
     }



    

    